img{
    height: 150px;
}

#contenedor-imagenes{
    border: 5px solid red;
    position: relative; /* Necesario para que funcione bien el posicionamiento absoluto de los elementos que contiene */
}

#husky{  
    position: absolute;/* Posicionamiento relativo */
    right: 200px;/* Mueve la caja 1300px hacia derecha */
    top: 20px;
    z-index: 100;
    color: white;
    font-size: 25px ;
    font-weight: bold;
 }

 #husky-imagen{  
    position: absolute;/* Posicionalmente relativo*/
    left: 1280px;
    top: 5px;



}

#golden{ 
    position: relative;
    left: 275px ;
    top: 100px;
    font-size: 25px ;
    font-weight: bold;
 
}

#golden1-imagen{
    position: relative;
    left: 10px;
    top: 50px;
}

#golden2-imagen{  
    position: relative;
    left: -10px;
    top: 100px;
}


#carlino{
    position: relative;
    left: 790px;
    top: 120px ;
    font-size: 25px;
    font-weight: bold;

}
#carlino-imagen{
   position: relative;
   left:900px;
   top:0px;



}

#podenco-imagen{
    position: absolute;
    left: 1000px;
    top: 50px ;

}

#podenco{ 
    position: absolute;
    left: 1000px;
    top: 40px ;
    z-index: 100;
    color: white;
    font-size: 25px;
    font-weight:bold ;

}
